.Div_list{
    display: flex;
    margin-top: 25px;
   text-transform: uppercase;


}
.list_item{
    margin-left: 20px;
    list-style-type: none;
    font-weight: 500;
}
.delete_icon{
   color: rgb(176, 126, 222);

    
}
.delete_icon:hover{
cursor: pointer;
color: rgb(151, 71, 227) ;
   

}