*{
    margin: 0px;
    padding: 0px;
}
.main_div{
    width: max-content;
    /* border: 2px solid rgb(136, 19, 140); */
margin: 250px;
margin-left: 600px;
padding: 25px;
padding-bottom: 50px;
border-radius: 10%;
box-shadow: 2px 2px rgb(154, 4, 154);
}
.Heading_1{
    text-align: center;
    background-color: rgb(176, 126, 222);
    color: beige;

  
}
.input_1{
    border: none;
    /* background: transparent; */
    outline: none;
   font-size: large;
   margin-top: 30px;
   
}

.plusSign{
    /* size: inherit; */
    font-size: large;
    padding: 8px;
    border-radius: 40%;
    background-color: rgb(176, 126, 222) ;
    border: none;
    color:beige;

}
.plusSign:hover{
    cursor: pointer;
    background-color: rgb(151, 71, 227) ;
   
}